@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
.btn {
  border-radius: 5px;
  border: solid 1px rgba(68, 81, 101, 0.2);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  color: #97a5bb;
}
.btn.disabled {
  color: #ccd4e0 !important;
  border: solid 1px rgba(37, 38, 94, 0.1) !important;
  background-color: white !important;
}
.btn i {
  color: #3397c5;
}
.btn.active {
  background-color: #3397c5 !important;
}
.btn.active i {
  color: white !important;
}

.btn-primary {
  background-color: #3397c5;
  color: white;
}

.btn:hover {
  background-color: #3397c5;
  color: white;
}

.btn.dropdown-toggle {
  background-color: #3397c5;
  color: white;
}

.btn.dropdown-toggle:focus {
  box-shadow: none !important;
}

#collapsible {
  background-color: white !important;
  padding: 58px 20px;
}
#collapsible .card {
  margin: 5px 0;
}

.collapse .btn {
  border-radius: 5px !important;
}
.collapse .card {
  background-color: white !important;
}
.collapse .list-group-item {
  background-color: white;
  color: #97a5bb;
}
.collapse .list-group-item.active {
  background-color: #bdeaff;
  color: #3397c5 !important;
}
.collapse .list-group-item:hover {
  background-color: #bdeaff !important;
  color: #3397c5 !important;
}

.navbar {
  background-color: white !important;
}
.navbar .navbar-brand {
  color: white !important;
}
.navbar .navbar-brand::after {
  content: "Current Organization";
  border-left: 1px solid #d3d3d3;
  margin-left: -25px;
  padding-left: 15px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #445165;
}
.navbar #user_menu {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #445165 !important;
}
.navbar #user_menu .fa-user-circle {
  font-size: 36px;
}
.navbar #user_menu::after {
  margin-left: 30px;
  margin-right: 10px;
}

/*# sourceMappingURL=styles.css.map */
