@import 'https://fonts.googleapis.com/css?family=Roboto&display=swap';
 

$bgColor: #3397c5;
$bgGrayColor: #97a5bb;
$childBgColor: #bdeaff;

.btn {
  border-radius: 5px;
  border: solid 1px rgba(68, 81, 101, 0.2);
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  color: #97a5bb;

  &.disabled {
    color: #ccd4e0 !important;
    border: solid 1px rgba(37, 38, 94, 0.1) !important;
    background-color: white !important;
  }

  i {
    color: $bgColor;
  }

  &.active {
    background-color: $bgColor !important;

    i {
      color: white !important;
    }
  }
}

.btn-primary {
  background-color: $bgColor;
  color: white;
}

.btn:hover {
  background-color: $bgColor;
  color: white;
}
 
.btn.dropdown-toggle {
  background-color: $bgColor ;
  color: white ;
}

.btn.dropdown-toggle:focus {
  box-shadow: none !important;
} 

#collapsible {
  background-color: white !important;
  padding: 58px 20px;

  .card {
    margin: 5px 0;
  }
}

.collapse {
  .btn {
    border-radius: 5px !important;
  }

  .card {
    background-color: white !important;
  }

  .list-group-item {
    background-color: white;
    color: $bgGrayColor;

    &.active {
      background-color: $childBgColor;
      color: #3397c5 !important;
    }

    &:hover {
      background-color: $childBgColor !important;
      color: #3397c5 !important;
    }
  }
}

.navbar {
  background-color: white !important;

  .navbar-brand {
    color: white !important;

    &::after {
      content: "Current Organization";
      border-left: 1px solid #d3d3d3;
      margin-left: -25px;
      padding-left: 15px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #445165;
    }
  }

  #user_menu {
    display: flex;
    align-items: center;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #445165 !important;

    .fa-user-circle {
      font-size: 36px;
    }

    &::after {
      margin-left: 30px;
      margin-right: 10px;
    }
  }
}
